.loginsignup {
    direction: ltr;
    width: 50%;
    margin-inline: auto;
    margin-top: 50px;
}

.form-box {
    border-radius: 30px;
    padding: 30px 20px;
    background-color: #354F31;
    color: #F0E6D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box h2 {
    font-size: 50px;
    border-bottom: 1px solid #f0e6d363;
    width: 100%;
    text-align: center;
}

.input-boxes {
    margin-top: 30px;
    font-size: 25px;
}

.input-boxes div input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: rgba(107, 107, 107, 0.575);
    color: #F0E6D3;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.agree {
    display: flex;
    gap: 0px 10px;
    justify-content: center;
    align-items: baseline;
}

.register {
    font-size: 15px;
    margin-top: 20px;
}

.register span {
    font-weight: 600;
    color: #ED8E0A;
    cursor: pointer;
}

.register span:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.form-box button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #F0E6D3;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: hsl(35, 92%, 48%);
    outline: none;
    border: none;
}

.form-box button:hover {
    background-color: hsl(35, 92%, 55%);
}

.form-box button:active {
    background-color: hsl(35, 92%, 60%);
}

@media(max-width: 850px){
    .loginsignup {
        font-size: 15px;
        width: 90%;
    }
    .form-box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}