img {
    max-width: 100%;
}

.header {
    /* background-color: red; */
    margin: 0;
    padding: 0;
}

.size-info h2{
    font-size: 15px;
    color: #1a1a1a;
    font-weight: 600;
    text-align: center;
    margin: 5px 0;
}

.header-top {
    background-color: #354F31;
}

.header-top p {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.header-main {
    padding: 10px 0;
}

.header-main .header-main-top {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .header-main-top > div {
    width: 33%;
    text-align: center;
}

.basket-icon, .search-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo-icon {
    width: 300px;
    cursor: pointer;
}

.login-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loginsignup-button {
    border: 2px solid #1a1a1a88;
    outline: none;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.loginsignup-button p {
    font-size: 17px;
    font-weight: 500;
}

.loginsignup-button:hover {
    background-color: rgba(128, 128, 128, 0.274);
}

.header-main-nav {
    text-align: center;
}

.header-main-nav nav ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.header-main-nav nav ul li {
    font-size: 18px;
    color: hsl(0, 0%, 20%);
    cursor: pointer;
    font-weight: 500;
    transition-duration: 0.3s;
}

.header-main-nav nav ul li:hover {
    color: hsl(0, 0%, 5%);
    transform: scale(1.2);
}

hr {
    border: none;
    height: 2px;
    border-radius: 10px;
    background-color: #1a1a1a;
}

.basket-box {
    position: relative;
}

.cart-item-count {
    position: absolute;
    bottom: 30px;
    right: -12px;
    background-color: rgba(233, 42, 42, 0.856);
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

@media(max-width: 600px){
    .loginsignup-button {
        border: 1px solid #1a1a1a88;
        outline: none;
        background-color: rgba(128, 128, 128, 0.178);
        padding: 5px 8px;
        border-radius: 20px;
        cursor: pointer;
    }

    .loginsignup-button p {
        font-size: 10px;
        font-weight: 500;
    }

    .loginsignup-button:hover {
        background-color: rgba(128, 128, 128, 0.274);
    }

    .search-icon, .basket-icon {
        width: 20px;
        height: 20px;
    }

    .cart-item-count {
        font-size: 10px;
        width: 15px;
        height: 15px;
        bottom: 20px;
        right: -10px;
    }
}