.products-box {
    margin-top: 50px;
}

.products-box h2{
    font-size: 60px;
    text-align: center;
    background-color: #354F31;
    color: white;
    margin-bottom: 60px;
}

.products-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 30px 0px;
    align-items: start;
}

@media(max-width: 600px){
    .products-display {
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(100%, 1fr));
        gap: 30px 0px;
    }
}