.footer {
    background-color: #ED8E0A;
    border-radius: 50px;
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding: 40px 150px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    width: 33%;
}

.footer-item span {
    font-size: 20px;
    font-weight: 600;
}

.footer-item p {
    font-size: 17px;
    font-weight: 500;
}

.footer-item p a {
    text-decoration: none;
    color: black;
}

.footer-item p a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.footer hr {
    background-color: hsla(0, 0%, 28%, 0.39);
    width: 60%;
}

.contact-icons img {
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.contact-icons img:hover {
    transform: scale(1.3);
}

.contact-info hr{
    width: 100%;
}

.location-info {
    display: flex;
    align-items: center;
}

.location-info img {
    width: 40px;
    height: 30px;
}

.logo-footer {
    width: 200px;
    align-self: flex-end;
    cursor: pointer;
}

@media(max-width: 900px){
    .footer {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        gap: 20px 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer hr {
        width: 100%;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        width: 33%;
    }

    .footer-item {
        width: 100%;
    }

    .logo-footer {
        justify-self: center;
        align-self: center;
    }

    .location-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .location-info {
        display: flex;
        flex-direction: column;
    }

    
}